<div id='allPosts'>
  <div><img id='logo' src='/img/critter_logo.png' alt='critter logo'</div>
  <h3>Critter #{{userId}}</h3>
  <h4>All of the Creets</h4>
  <div class='creetPostContainer'>
    <div>
      {{#each data}}
      <p><strong>Critter #{{userId}}</strong> - {{this.tweeted}} <a href='/user/{{userId}}'>View profile</a></p>
       {{/each}}
      <div>
  </div>
  <a href='/newTweet'>Post a Tweet</a> |
  <a href='/user/{{userId}}'>View my Profile</a> |
  <a href='/signOut'>Sign Out</a>
</div>
